version: "3.7"
services:
  app:
    build: .
    ports:
      - '9095:9095'
  site:
    build:
        context: site/LiveTerm
        dockerfile: Dockerfile
        target: base
    expose:
      - "3000"
    ports:
      - "3000:3000"
    command: npm run dev
    depends_on:
      - app