name: Container test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  Containers:
    runs-on: ubuntu-latest

    container: node:10.16-jessie
    steps:
      - name: Step 1 - Checkout the main branch
        uses: actions/checkout@v3

      - name: Step 2 - Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "adopt"
          cache: maven

      - name: Step 3 - Create JAR file
        run: mvn install -DskipTests

      - name: Step 4 - Deploy Docker containers
      - run: docker-compose up -d

      - name: Step 5 - Curl the app
        run: | 
          curl -X POST 'localhost:9095/api/calculate' --header 'Content-Type: application/json' 
          --data '{"savingsAmount": 6,"currentPrices": [1, 2, 5],"futurePrices":[2, 3, 20]}'