---
name: mvn Versions Checker
on: workflow_dispatch

permissions: read-all

run-name: mvn Versions Checker

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mvn versions:display-dependency-updates
